.container {
    background-color: #d2d2d2;
    padding: 12px 24px 36px 48px;
    margin: 12px 24px 36px 48px;
    border: 5px solid black;
 }
 
.main-text {
    background-color: #f2f2f2;
    font-size: 24px;
    padding: 24px;
    margin: 12px;
    border-top: 5px solid rgb(201, 24, 24);
    border-bottom: 10px solid rgb(63, 255, 63);
    border-right: 15px solid orange;
    border-left: 20px solid purple;
 
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
}